@import "tailwindcss";

*{
    box-sizing: border-box;
}

body{
    background-color: #101114;
    color: #ddd;
}

form input{
    color: #ddd;
    border: 2px solid #30313d;
    padding: 2px 5px;
    border-radius: 7px;
}


form button {
    font-family:'Courier New', Courier, monospace;
    margin-top: 5px;
  border: 2px solid #193746;
  background-color: #081d27;
  border-radius: 0.9em;
  cursor: pointer;
  width: 100%;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

form button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

form button:hover {
  background-color: #06213b;
}


.transaction{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    border-top: 1px solid #30313d;
}

.transaction:first-child{
    border-top: 0;
}

.transaction .name{
    font-size: 1.5rem;
}

.transaction .description{
    font-size: 1rem;
    color: #888;
}

.right{
    text-align: right;
    font-size: 1.3rem;
}

.green{
    color: #1c1;
}
.red{
    color: #c11;
}

.datetime{
    font-size: 1rem;
    color: #888;
}